


DLGTEMPLATE 100 
BEGIN
	DIALOG "Configure Player-List", 100, 96, 66, 249, 115, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 16, 6, 56, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 104, 6, 56, 14
		PUSHBUTTON "Delete", 105, 184, 30, 56, 14
		CONTROL "Define...", 104, 184, 54, 56, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "New Player", 103, 184, 78, 56, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Defined Players", 101, 16, 102, 72, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Players", 102, 16, 30, 144, 66, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

