
DLGTEMPLATE 100 
BEGIN
	DIALOG "Joystick Configuration", 100, 82, 32, 262, 147, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 16, 4, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 192, 4, 51, 14
		CONTROL "Threshold", 105, 136, 64, 40, 54, WC_SLIDER, SLS_VERTICAL | SLS_LEFT | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 11, 9, 10, 9
		CONTROL "Threshold", 104, 136, 124, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 108, 216, 106, 8, 10, WC_BUTTON, BS_CHECKBOX | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP
		CONTROL "", 109, 232, 94, 7, 10, WC_BUTTON, BS_CHECKBOX | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP
		CONTROL "", 110, 216, 82, 9, 10, WC_BUTTON, BS_CHECKBOX | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP
		CONTROL "", 111, 200, 94, 8, 10, WC_BUTTON, BS_CHECKBOX | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP
		CONTROL "Define Max.", 115, 104, 4, 59, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Buttons swapped", 112, 132, 40, 85, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Button 1", 113, 132, 24, 50, 10, WC_BUTTON, BS_CHECKBOX | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP
		CONTROL "Button 2", 114, 196, 24, 50, 10, WC_BUTTON, BS_CHECKBOX | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP
		CONTROL "Analog", 102, 8, 58, 104, 84, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Digital", 106, 128, 58, 128, 84, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "A / B Joystick", 116, 12, 24, 80, 27, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "A", 117, 24, 28, 16, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "B", 118, 56, 28, 17, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
	END

END


STRINGTABLE 
BEGIN
	200, "Move Joystick to upper left Corner and press a Button"
	201, "Move Joystick to lower right Corner and press a Button"
	202, "Select OK to accept or Cancel to dismiss changes"
END


DLGTEMPLATE 200 
BEGIN
	DIALOG "Define Max.", 100, 29, 14, 161, 71, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 104, 30, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 104, 6, 51, 14
		CONTROL "- here comes text -", 201, 8, 54, 144, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 203, 32, 30, 48, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 205, 32, 12, 48, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "X:", 202, 8, 30, 16, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Y:", 204, 8, 12, 14, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

