
DLGTEMPLATE 100 
BEGIN
	DIALOG "Define Key", 100, 95, 81, 164, 108, FS_DLGBORDER | FS_SCREENALIGN | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 11, 6, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 104, 6, 51, 14
		CONTROL "Start...", 101, 104, 72, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Stop...", 102, 104, 54, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "here comes the text....", 104, 16, 90, 136, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "- none -", 105, 16, 78, 80, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", 109, 8, 30, 150, 72, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Shift", 106, 16, 60, 50, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Alt", 107, 16, 48, 50, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Control", 108, 16, 36, 50, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Test...", 103, 104, 36, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


STRINGTABLE 
BEGIN
	100, "Select Start to Enter a new key."
	101, "Enter your Key now !"
	102, "Type your key to test."
	103, "Scan Code: "
	104, "- none -"
END


DLGTEMPLATE 200 
BEGIN
	DIALOG "Keyboard Configuration", 200, 79, 72, 241, 121, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 32, 6, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 152, 6, 51, 14
		CONTROL "Sample", 201, 16, 42, 80, 65, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "New Key", 202, 168, 90, 56, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Define", 203, 168, 66, 56, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Delete Key", 204, 168, 42, 56, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Sample", 210, 8, 30, 224, 84, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "", 206, 112, 42, 40, 54, WC_SLIDER, SLS_VERTICAL | SLS_LEFT | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 11, 9, 10, 9
		CONTROL "Threshold", 205, 112, 102, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

