
DLGTEMPLATE 100 
BEGIN
	DIALOG "Straight Autoplayer", 100, 81, 61, 215, 119, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 28, 8, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 112, 8, 51, 14
		CONTROL "Button 1", 104, 20, 38, 50, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Button 2", 105, 84, 38, 50, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Up", 100, 64, 94, 21, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Right", 101, 88, 78, 35, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Down", 102, 64, 62, 33, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Left", 103, 40, 78, 29, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Player moves to...", 107, 11, 30, 133, 82, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Threshold", 106, 156, 32, 48, 64, WC_SLIDER, SLS_VERTICAL | SLS_LEFT | SLS_HOMEBOTTOM | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 11, 9, 10, 9
		CONTROL "Threshold", 108, 156, 104, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

