






DLGTEMPLATE 100 
BEGIN
	DIALOG "Port to intercept", 100, 98, 107, 123, 45, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 8, 4, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 64, 4, 51, 14
		CONTROL "Sample", 101, 52, 28, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTRIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Number", 102, 16, 28, 32, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

